<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Editing  {{ editItem.name }}</h1>

        <p>Name:</p>
        <input type='text' size='30' name='name' placeholder = "{{ editItem.name }}">

        <p>Description:</p>
        <input type='text' size='30' name='description' placeholder = "{{ editItem.description }}">

        <p>Price:</p>
        <input type='text' size='30' name='price' placeholder = "{{ editItem.price }}">

        <p>Course (currently set as {{ editItem.course }}):</p>
        <input type="radio" name="course" value="entree">Entree<br>
        <input type="radio" name="course" value="appetizer">Appetizer<br>
        <input type="radio" name="course" value="dessert">Dessert<br>
        <input type="radio" name="course" value="beverage">Beverage<br>


        <br>
        <input type='submit' value='Create'>

        <a href='{{url_for('showMenu', restaurant_id = restaurant.id) }}'>Cancel</a>

    </form>
</body>
</html>