<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body>

    <div id="signInButton">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="YOUR_CLIENT_ID_GOES_HERE.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
        </span>
    </div>

</body>
</html>