<!DOCTYPE html>
<html>
<head>
    <title>Yum Tum Tum Restaurants</title>
</head>
<body>
    <header><h1>Yum Tum Tum Restaurants:</h1></header>
    <a href='{{url_for('newRestaurant') }}'>Create new restaurant </a>


    {% for restaurant in restaurants %}

    <p>
        <a href='{{url_for('showMenu', restaurant_id = restaurant['id']) }}'>
        {{restaurant['name']}}</a>
        </br>
        <a href='{{url_for('editRestaurant', restaurant_id = restaurant['id']) }}'>Edit</a>
        |
        <a href = '{{url_for('deleteRestaurant', restaurant_id = restaurant['id']) }}'>Delete</a>

    </p>

    {% endfor %}

</body>
</html>